@@include('template/layout/header.html')

<main class="content">
	<section class="one">
		<div class="wrap_h1">
			<h1>Цены и варианты защиты</h1>
		</div>
		<div class="container">
			<div class="items_block">
				<div class="item">
					<div class="item_title">класс mini*</div>
					<div class="item_img">
						<img src="img/mazda/чистая.jpg" alt="foto">
					</div>
					<div class="item_bottom">рассчитать стоимость</div>
					<div class="arrow"></div>
				</div>
				<div class="item">
					<div class="item_title">средний класс *</div>
					<div class="item_img">
						<img src="img/citroen/чистый.jpg" alt="foto">
					</div>
					<div class="item_bottom">рассчитать стоимость</div>
					<div class="arrow"></div>
				</div>
				<div class="item">
					<div class="item_title">премиум класс*</div>
					<div class="item_img">
						<img src="img/mercedes/чистый.jpg" alt="foto">
					</div>
					<div class="item_bottom">рассчитать стоимость</div>
					<div class="arrow"></div>
				</div>
			</div>
			<div class="change_block clearfix">
				<div class="left">
					<div class="block_img">
					<img src="img/mazda/чистая.jpg" class="active" alt="foto">
					<!--<img src="img/mazda/целиком.jpg" alt="foto">-->
					<img src="img/mazda/стандарт.jpg" alt="foto">
					<img src="img/mazda/стандарт+.jpg" alt="foto">
					<img src="img/mazda/стандарт++.jpg" alt="foto">
					<img   src="img/mazda/стандарт+++.jpg" alt="foto">
					<img class="left_img" data-img="4" src="img/mazda/двери.jpg" alt="foto">
					<img class="left_img" data-img="6" src="img/mazda/капот.jpg" alt="foto">
					<img class="left_img" data-img="5" src="img/mazda/заднее-крыло.jpg" alt="foto">
					<img class="left_img" data-img="8" src="img/mazda/задний-бампер.jpg" alt="foto">
					<img class="left_img" data-img="7" src="img/mazda/передний-бампер.jpg" alt="foto">
					<img class="left_img" data-img="2" src="img/mazda/пороги-внутренние.jpg" alt="foto">
					<img class="left_img" data-img="3" src="img/mazda/пороги-наружние.jpg" alt="foto">
					</div>

					<div class="block_icon">
						<ul>
							<li><div class="wrapper_img"><img src="img/icon_1.png" alt="foto"></div><span>капот<br> полностью</span></li>
							<li><div class="wrapper_img"><img src="img/icon_2.png" alt="foto"></div><span>крылья<br> полностью</span></li>
							<li><div class="wrapper_img"><img src="img/icon_3.png" alt="foto"></div><span>передний<br> бампер</span></li>
							<li><div class="wrapper_img"><img src="img/icon_4.png" alt="foto"></div><span>зеркала</span></li>
							<li><div class="wrapper_img"><img src="img/icon_5.png" alt="foto"></div><span>фары</span></li>
							<li><div class="wrapper_img"><img src="img/icon_6.png" alt="foto"></div><span>ручки</span></li>
							<li><div class="wrapper_img"><img src="img/icon_7.png" alt="foto"></div><span>противотуманки</span></li>
						</ul>
						<div class="block_price">
							<div class="col_price">
								<div class="price">Цена:</div>
								<div class="wrap_total clearfix">
									<div class="title">Материалы + работа</div>
									<div class="total">7000 руб.</div>
								</div>
							</div>
							<div class="col_tel">
								<a href="#">Позвоните мне</a>
							</div>

						</div>
					</div>
				</div>


				<div class="right">
					<ul class="right_list">
						<li class="right_item"><a class="right_link" href="#">минимальный</a></li>
						<li class="right_item"><a class="right_link" href="#">Стандарт</a></li>
						<li class="right_item"><a class="right_link" href="#">Стандарт+</a></li>
						<li class="right_item active_item"><a  class="right_link" href="#">Стандарт++</a></li>
						<li class="right_item"><a class="right_link" href="#">Стандарт+++</a></li>
						<li class="right_item"><a class="right_link" href="#">Целиком</a></li>
						<li class=" item_drop"><a class="right_link part" href="#">Частями</a>
							<ul class="drop_list">
								<!--<li class="drop_item" data-id="1"><a href="#">Оптика</a></li>-->
								<li class="drop_item" data-id="2"><a href="#">Пороги внутренние</a></li>
								<li class="drop_item" data-id="3"><a href="#">Пороги наружные</a></li>
								<li class="drop_item" data-id="4"><a href="#">Двери (4шт)</a></li>
								<li class="drop_item" data-id="5"><a href="#">Задние крылья</a></li>
								<li class="drop_item" data-id="6"><a href="#">Капот</a></li>
								<li class="drop_item" data-id="7"><a href="#">Передний бампер</a></li>
								<li class="drop_item" data-id="8"><a href="#">Задний бампер</a></li>
							</ul></li>

					</ul>
				</div>
			</div>
		</div>

	</section>

</main><!-- MAIN CONTENT [END] -->

@@include('template/layout/footer.html')
 